<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-11">
            <hr>

            <div class="jumbotron ">
                <div class="container">
                    <div class="col-md-11">     
                        <h4 >	lists des analyses</h4>
                      </div>
                     
                      
                      
                      <div class="col-md-1">
                          <button  class="btn btn-info btn-md"   routerLink="/analyse" >
                            <span class="">ADD Analyse</span>	</button>
            
                       </div>
                       <input class="form-control mr-sm-2"
                       [(ngModel)]='cate'  (input)="search()"
                        type="search" placeholder="Search" aria-label="Search">
            
                </div>
              </div>
			
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>
										
                    <th class="alert alert-info">nom</th>
                    <th class="alert alert-info">departement</th>

                   <th class="alert alert-info">test</th>
                   <th class="alert alert-info">chambre</th>
                   <th class="alert alert-info">date_red_v</th>
                 
                   
                   
                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let analyse of analyses   | paginate:{ itemsPerPage: 6, currentPage: p} ; let i= index   ">

				<td><i>{{ analyse.nomid }} </i></td>
    <td><i>{{ analyse?.depart?.nom_departement }} </i></td>

  
    <td><i>{{analyse.test}} </i></td>
    <td><i>{{analyse.chambre}} </i></td>
    <td><i>{{analyse.date_red_v}} </i></td>
    
<!-- BUG: button edit -->
    <td><button  class="btn btn-secondary btn-xs"   routerLink="/radio/{{analyse.id}}" >
			<span class="glyphicon glyphicon-edit"></span>	</button>
		</td>
<!-- BUG:  button delete -->
    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(analyse.id)"
>	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>
  <td>
    <a btn btn-primary btn-sm class="btn btn-primary btn-xs"   routerLink="/rendezshow/{{analyse.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>
		<pagination-controls (pageChange)="p=$event">
		 </pagination-controls>
</table>

            </div>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Fluid jumbotron</h1>
                  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
              </div>
        
	</div>
</div>
</div>
