
  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Achats des Medicaments  </div>
                <div class="panel-body">
                
                <fieldset class="col-md-12">    	
                        <legend>Achats des Medicaments </legend>
                        
                     
                        
                        <div class="container-fluid bg-light py-3">
                            <form id="contact-form" (ngSubmit)="f.form.valid && saveAchat()" #f="ngForm" novalidate >
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_Nom">Nom *</label>
                                                <input id="form_Nom" type="text" name="nom" class="form-control"
                                                 placeholder="Nom *"
                                                 required
                                                       [(ngModel)]='achat.nom'
                                                 data-error="name is required."
                                               [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel"
                                                 >
                                                 <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                                                                      <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                                                                  </div>
                                            </div>
                                        </div>

                                 
                                        <div class="col-sm-4">
                                            <label for="form_name"> categorie*</label>
                                            <select id="categorie_id" class="form-control" placeholder="categorie*"
                                             [(ngModel)]='achat.categorie_id' name="categorie_id"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && categorie_id.invalid}" #categorie_id="ngModel"
                                             >
                                             <div *ngIf="f.submitted && categorie_id.invalid" class="invalid-feedback">
                                                                  <div *ngIf="categorie_id.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="categorie.id" *ngFor="let categorie of categories">{{ categorie.nom }} </option>
                        
                                                </select>
                                          </div>



                      
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_prix">prix *</label>
                                               
                                                <input id="form_prix" type="number" name="prix"
                                                class="form-control" placeholder="prix *"
                                                [(ngModel)]='achat.prix'
                                                required
                                                [ngClass]="{'is-invalid':f.submitted && prix.invalid}" #prix="ngModel"
                                                  >
                                                  <div *ngIf="f.submitted && prix.invalid" class="invalid-feedback">
                                                                       <div *ngIf="prix.errors.required">ce champs est obligatoire </div>
                                                                   </div>
                                            </div>
                                           

                                            <span class="input-group-text" id="inputGroupPrepend2">dhs</span>

                                        </div>
                                      
                      
                                       
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_Nombre">Nombre *</label>
                                                <input id="form_Nombre" type="number" name="nobrachat" class="form-control"
                                                placeholder="nombre *" [(ngModel)]='achat.nobrachat'
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && nobrachat.invalid}" #nobrachat="ngModel"
                                                >
                                                <div *ngIf="f.submitted && nobrachat.invalid" class="invalid-feedback">
                                                                     <div *ngIf="nobrachat.errors.required">ce champs est obligatoire </div>
                                                                     </div>
                      
                                            </div>
                                        </div>
                                       
                                      
                                    
                                       
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send"   value="ajoute medicament " >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a routerLink="/affiche">liste des medicaments acheté  </a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
  
  
  
  
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>