


  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Analyses </div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>Analyse </legend>
                        
                
                        
  <div class="container-fluid bg-light py-3">
    <form id="contact-form" (ngSubmit)="f.form.valid && saveAnalyse()" #f="ngForm" novalidate >
        <div class="messages"></div>
        <div class="controls">
            <div class="row">
             


                <div class="col-sm-4">
                    <label for="form_name"> nom*</label>
                    <select id="rendez_id" class="form-control" placeholder="rendez_id*"
                     [(ngModel)]='analyse.rendez_id' name="rendez_id"

                     required
                   [ngClass]="{'is-invalid':f.submitted && rendez_id.invalid}" #rendez_id="ngModel"
                     >
                     <div *ngIf="f.submitted && rendez_id.invalid" class="invalid-feedback">
                                          <div *ngIf="rendez_id.errors.required">ce champs est obligatoire </div>
                                      </div>
                      
                  <option  [ngValue]="rendez.id" *ngFor="let rendez of rendezs">{{ 
                    
                      rendez.info?.nom
                  }} </option>

                        </select>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">nom par operation *</label>
                          <input id="form_nom" type="text" name="nomid"
                          class="form-control" placeholder="nom par operation *"
                          [(ngModel)]='analyse.nomid'
                          required
                          [ngClass]="{'is-invalid':f.submitted && nomid.invalid}" #nomid="ngModel"
                            >
                            <div *ngIf="f.submitted && nomid.invalid" class="invalid-feedback">
                                                 <div *ngIf="nomid.errors.required">ce champs est obligatoire </div>
                                             </div>
                      </div>
                  </div>


                  <div class="col-sm-4">
                    <label for="form_name"> departement*</label>
                    <select id="depart_id" class="form-control" placeholder="depart_id*"
                     [(ngModel)]='analyse.depart_id' name="depart_id"

                     required
                   [ngClass]="{'is-invalid':f.submitted && depart_id.invalid}" #depart_id="ngModel"
                     >
                     <div *ngIf="f.submitted && depart_id.invalid" class="invalid-feedback">
                                          <div *ngIf="depart_id.errors.required">ce champs est obligatoire </div>
                                      </div>
                      
                  <option  [ngValue]="departement.id" *ngFor="let departement of departements">{{ departement.nom_departement }} </option>

                        </select>
                  </div>

             
         


        <div class="col-sm-12">
            <label for="form_name">analyses  *</label>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultUnchecked" 
            value="possitifs"  [(ngModel)]='analyse.test' name="test">
            <label class="custom-control-label" for="defaultUnchecked">possitifs</label>
          </div>
          
          <!-- Default checked -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" 
            id="defaultChecked" name="test"  value="negatifs" 
             [(ngModel)]='analyse.test' >
            <label class="custom-control-label" for="defaultChecked">negatifs</label>
          </div>

        </div>

        <div class="col-sm-6">
                <div class="form-group">
                    <label for="form_name">nombre de  chambre *</label>
                    <input id="form_nom" type="number" name="chambre"
                    class="form-control" placeholder="chambre *"
                    [(ngModel)]='analyse.chambre'
                    required
                    [ngClass]="{'is-invalid':f.submitted && chambre.invalid}" #chambre="ngModel"
                      >
                      <div *ngIf="f.submitted && chambre.invalid" class="invalid-feedback">
                                           <div *ngIf="chambre.errors.required">ce champs est obligatoire </div>
                                       </div>
                </div>
            </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label for="form_name">date d'operation *</label>
                <input id="form_name" type="date" name="date_red_v" class="form-control"
                placeholder=" *" [(ngModel)]='analyse.date_red_v'
                required
              [ngClass]="{'is-invalid':f.submitted && date_red_v.invalid}" #date_red_v="ngModel"
                >
                <div *ngIf="f.submitted && date_red_v.invalid" class="invalid-feedback">
                                     <div *ngIf="date_red_v.errors.required">ce champs est obligatoire </div>
                                     </div>

            </div>
        </div>



             
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/showanalyse">analyses</a>
            </div>
        </div>
    </form>
</div>
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  