<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<div class="container-fluid">
	<div class="row">
	<div class="col-md-3 col-sm-4">
	<div class="wrimagecard wrimagecard-topimage">
          <a routerLink="/facture" >

          <div class="wrimagecard-topimage_title" style="color:#795a47">
            <h4>Facturation

           </h4>
          </div>
        </a>
      </div>
      </div>
    <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
       
            <a routerLink="/forms">
          <div class="wrimagecard-topimage_title" style="color:#795a47">
            <h4>Forms Generale
            <div class="pull-right badge" id="WrControls"></div></h4>
          </div>
        </a>
      </div>
</div>


<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="#">

          <div class="wrimagecard-topimage_title" style="color:#fabc09">
            <h4>Fiches Personnel
            <div class="pull-right badge" id="WrForms"></div>
            </h4>
          </div>

        </a>
      </div>
	</div>
	<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a routerLink="/medicament">

          <div class="wrimagecard-topimage_title" style="color:#3369e8">
            <h4>Medicatments
            <div class="pull-right badge" id="WrGridSystem"></div></h4>
          </div>

        </a>
      </div>
	</div>
	<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="#">

          <div class="wrimagecard-topimage_title" style="color:#d50f25">
            <h4>bulletin de paie
            <div class="pull-right badge" id="WrInformation"></div></h4>
          </div>

        </a>
      </div>
  </div>
  
	<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a routerLink="/full">

          <div class="wrimagecard-topimage_title" style="color:#d50f85">
            <h4>calendrie des maladies
            <div class="pull-right badge" id="WrInformation"></div></h4>
          </div>

        </a>
      </div>
	</div>

	<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
        <a routerLink="/maladie">

          <div class="wrimagecard-topimage_title"  style="color:#16A085">
            <h4>maladie
            <div class="pull-right badge" id="WrNavigation" ></div></h4>
          </div>

        </a>
      </div>
  </div>
  
	<div class="col-md-3 col-sm-4">
    <div class="wrimagecard wrimagecard-topimage">
      <a routerLink="/pharmacie">

        <div class="wrimagecard-topimage_title"  style="color:rgb(31, 22, 161)">
          <h4>pharmacie
          <div class="pull-right badge" id="WrNavigation" ></div></h4>
        </div>

      </a>
    </div>
</div>

	<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a routerLink="/docteur">

          <div class="wrimagecard-topimage_title" style="color:#BB7824">
            <h4>docteur
            <div class="pull-right badge" id="WrThemesIcons"></div></h4>
          </div>
        </a>
      </div>
	</div>
</div>
</div>
