
<div class="w-100 pt-5  " >

  <div class="container-fluid bg-light py-3">
      <form id="contact-form" (ngSubmit)="f.form.valid && saveConge()" #f="ngForm" novalidate >
          <div class="messages"></div>
          <div class="controls">
              <div class="row">
               
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">nom departement *</label>
                          <input id="form_name" type="text" name="nom_departement"
                          [(ngModel)]='entree.nom_departement'
                           required
                           class="form-control" placeholder="nom_departement*"
                           [ngClass]="{'is-invalid':f.submitted && nom_departement.invalid}" #nom_departement="ngModel"
                             >
                             <div *ngIf="f.submitted && nom_departement.invalid" class="invalid-feedback">
                                                  <div *ngIf="nom_departement.errors.required">ce champs est obligatoire </div>
                                              </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="form-group">
                          <label for="form_name">nombre de  chambre *</label>
                          <input id="form_nom" type="number" name="chambre"
                          class="form-control" placeholder="chambre *"
                          [(ngModel)]='entree.chambre'
                          required
                          [ngClass]="{'is-invalid':f.submitted && chambre.invalid}" #chambre="ngModel"
                            >
                            <div *ngIf="f.submitted && chambre.invalid" class="invalid-feedback">
                                                 <div *ngIf="chambre.errors.required">ce champs est obligatoire </div>
                                             </div>
                      </div>
                  </div>
                 

              <div class="col-sm-2">
                <div class="form-group">
                    <label for="form_name">date d'operations  *</label>
                    <input id="form_name" type="date" name="date_red_v" class="form-control"
                    placeholder=" *" [(ngModel)]='entree.date_red_v'
                    required
                  [ngClass]="{'is-invalid':f.submitted && date_red_v.invalid}" #date_red_v="ngModel"
                    >
                    <div *ngIf="f.submitted && date_red_v.invalid" class="invalid-feedback">
                                         <div *ngIf="date_red_v.errors.required">ce champs est obligatoire </div>
                                         </div>

                </div>
            </div>
                 

          <div class="col-sm-2">
            <div class="form-group">
                <label for="form_name">maladie  *</label>
                <input id="form_name" type="text" name="maladie" class="form-control"
                placeholder="maladie *" [(ngModel)]='entree.maladie'
                required
              [ngClass]="{'is-invalid':f.submitted && maladie.invalid}" #analyses="ngModel"
                >
                <div *ngIf="f.submitted && maladie.invalid" class="invalid-feedback">
                                     <div *ngIf="maladie.errors.required">ce champs est obligatoire </div>
                                     </div>

            </div>
        </div>

              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <a routerLink="/affiche">liste des personnes </a>
              </div>
          </div>
      </form>
  </div>

</div>
