



  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">personnels </div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>Personnels </legend>
                  
                        
  
  
                        <div class="container-fluid bg-light py-3">
                            <form id="contact-form" (ngSubmit)="f.form.valid && saveSalarie()" #f="ngForm" novalidate >
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_name">Nom*</label>
                                                <input id="form_name" type="text" name="Nom" class="form-control"
                                                 placeholder="cin *"
                                                 required
                                                       [(ngModel)]='salarie.nom'
                                                 data-error="name is required."
                                               [ngClass]="{'is-invalid':f.submitted && Nom.invalid}" #Nom="ngModel"
                                                 >
                                                 <div *ngIf="f.submitted && Nom.invalid" class="invalid-feedback">
                                                                      <div *ngIf="Nom.errors.required">ce champs est obligatoire </div>
                                                                  </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_name">specialité *</label>
                                                <input id="form_name" type="text" name="specialite"
                                                [(ngModel)]='salarie.specialite'
                                                 required
                                                 class="form-control" placeholder="specialite*"
                                                 [ngClass]="{'is-invalid':f.submitted && specialite.invalid}" #specialite="ngModel"
                                                   >
                                                   <div *ngIf="f.submitted && specialite.invalid" class="invalid-feedback">
                                                                        <div *ngIf="specialite.errors.required">ce champs est obligatoire </div>
                                                                    </div>
                                            </div>
                                        </div>
                      
                      
                      
                      
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                              <label for="form_name">Metié *</label>
                                              <input id="form_name" type="text" name="metie"
                                              [(ngModel)]='salarie.metie'
                                               required
                                               class="form-control" placeholder="metie*"
                                               [ngClass]="{'is-invalid':f.submitted && metie.invalid}" #metie="ngModel"
                                                 >
                                                 <div *ngIf="f.submitted && metie.invalid" class="invalid-feedback">
                                                                      <div *ngIf="metie.errors.required">ce champs est obligatoire </div>
                                                                  </div>
                                          </div>
                                      </div>
                      
                      
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a routerLink="/showsalaries">salaries </a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
                      
  
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  