

  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Information Maladies </div>
                <div class="panel-body">
                
                <fieldset class="col-md-12">    	
                        <legend>Information Maladies </legend>
                        
                        
                        <div class="container-fluid bg-light py-6">
                          <form id="contact-form" (ngSubmit)="f.form.valid && saveInfo()" #f="ngForm" novalidate >
                              <div class="messages"></div>
                              <div class="controls">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <label for="form_name"> cin*</label>
                                              <input id="form_name" type="text" name="cin" class="form-control"
                                               placeholder="cin *"
                                               required
                                                     [(ngModel)]='info.cin'
                                               data-error="name is required."
                                             [ngClass]="{'is-invalid':f.submitted && cin.invalid}" #cin="ngModel"
                                               >
                                               <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                                                                    <div *ngIf="cin.errors.required">ce champs est obligatoire </div>
                                                                </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <label for="form_name">Prenom *</label>
                                              <input id="form_name" type="text" name="Prenom"
                                              [(ngModel)]='info.prenom'
                                               required
                                               class="form-control" placeholder="Prenom*"
                                               [ngClass]="{'is-invalid':f.submitted && prenom.invalid}" #prenom="ngModel"
                                                 >
                                                 <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                                                                      <div *ngIf="prenom.errors.required">ce champs est obligatoire </div>
                                                                  </div>
                                          </div>
                                      </div>
                    
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <label for="form_name">Nom *</label>
                                              <input id="form_nom" type="text" name="nom"
                                              class="form-control" placeholder="NOM *"
                                              [(ngModel)]='info.nom'
                                              required
                                              [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel"
                                                >
                                                <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                                                                     <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                                                                 </div>
                                          </div>
                                      </div>
                                     
                    
                                
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <label for="form_name">ADRESSE *</label>
                                              <input id="form_name" type="text" name="adresse" class="form-control"
                                              placeholder="ADRESSE *" [(ngModel)]='info.adresse'
                                              required
                                            [ngClass]="{'is-invalid':f.submitted && adresse.invalid}" #adresse="ngModel"
                                              >
                                              <div *ngIf="f.submitted && adresse.invalid" class="invalid-feedback">
                                                                   <div *ngIf="adresse.errors.required">ce champs est obligatoire </div>
                                                                   </div>
                    
                                          </div>
                                      </div>
                                   
                                      <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_name">telephone fix *</label>
                                            <input id="form_name" type="number" name="telephone" class="form-control"
                                            placeholder="05-00-00-00-00 *" [(ngModel)]='info.telephone'
                                            required
                                          [ngClass]="{'is-invalid':f.submitted && telephone.invalid}" #telephone="ngModel"
                                            >
                                            <div *ngIf="f.submitted && telephone.invalid" class="invalid-feedback">
                                                                 <div *ngIf="telephone.errors.required">ce champs est obligatoire </div>
                                                                 </div>
                    
                                        </div>
                                    </div>
                    
                    
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="form_name">telephone Mobile *</label>
                                          <input id="form_name" type="number" name="telephone_mb" class="form-control"
                                          placeholder="06-00-00-00-00 *" [(ngModel)]='info.telephone_mb'
                                          required
                                        [ngClass]="{'is-invalid':f.submitted && telephone_mb.invalid}" #telephone_mb="ngModel"
                                          >
                                          <div *ngIf="f.submitted && telephone_mb.invalid" class="invalid-feedback">
                                                               <div *ngIf="telephone_mb.errors.required">ce champs est obligatoire </div>
                                                               </div>
                    
                                      </div>
                                  </div>
                    
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="form_name">date rendez_vous  *</label>
                                        <input id="form_name" type="date" name="date_red_v" class="form-control"
                                        placeholder=" *" [(ngModel)]='info.date_red_v'
                                        required
                                      [ngClass]="{'is-invalid':f.submitted && date_red_v.invalid}" #date_red_v="ngModel"
                                        >
                                        <div *ngIf="f.submitted && date_red_v.invalid" class="invalid-feedback">
                                                             <div *ngIf="date_red_v.errors.required">ce champs est obligatoire </div>
                                                             </div>
                    
                                    </div>
                                </div>
                                     
                                  </div>
                              </div>
                    
                              <div class="row">
                                  <div class="col-md-12">
                                      <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <a routerLink="/showsinfo">les coordonnes </a>
                                  </div>
                              </div>
                          </form>
                      </div>
  
  
  
                      
  
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  
  