

  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Departements et chambre </div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>Departements et Chambre </legend>
                        
                      
                        <div class="container-fluid bg-light py-3">
                            <form id="contact-form" (ngSubmit)="f.form.valid && saveDepart()" #f="ngForm" novalidate >
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                     
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_name">nom departement *</label>
                                                <input id="form_name" type="text" name="nom_departement"
                                                [(ngModel)]='departement.nom_departement'
                                                 required
                                                 class="form-control" placeholder="nom_departement*"
                                                 [ngClass]="{'is-invalid':f.submitted && nom_departement.invalid}" #nom_departement="ngModel"
                                                   >
                                                   <div *ngIf="f.submitted && nom_departement.invalid" class="invalid-feedback">
                                                                        <div *ngIf="nom_departement.errors.required">ce champs est obligatoire </div>
                                                                    </div>
                                            </div>
                                        </div>
                      
                                      
                                        <div class="col-sm-4">
                                            <label for="form_name"> Chambre*</label>
                                            <select id="chambre" class="form-control" placeholder="chambre*"
                                             [(ngModel)]='departement.chambre' name="chambre"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && chambre.invalid}" #chambre="ngModel"
                                             >
                                             <div *ngIf="f.submitted && chambre.invalid" class="invalid-feedback">
                                                                  <div *ngIf="chambre.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                       <option  [ngValue]="aucin" >aucune ...</option>                    
                                          <option  [ngValue]="1-50" >1-50 </option>
                                          <option  [ngValue]="50-50" >50-100 </option>
                                          <option  [ngValue]="100-150" >100-150 </option>
                                          <option  [ngValue]="150-200" >150-200 </option>
                                          <option  [ngValue]="200-250" >200-250 </option>
                                          <option  [ngValue]="250-300" >250-300 </option>
                        
                                                </select>
                                          </div>
                             
                      
                      
                                     
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a routerLink="/showdepartement">liste des departements</a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  