<div class="container-fluid bg-light py-3">
 
</div>






  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Conges</div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>Conge </legend>
                        
                   
  
  
                        <form id="contact-form" (ngSubmit)="f.form.valid && saveSal()" #f="ngForm" novalidate >
                          <div class="messages"></div>
                          <div class="controls">
                              <div class="row">
           <div>
                    
                                  <div class="col-sm-4">
                                    <label for="form_name"> nom*</label>
                                    <select id="salarie_id" class="form-control" placeholder="nom*"
                                     [(ngModel)]='sal.salarie_id' name="salarie_id"
                    
                                     required
                                   [ngClass]="{'is-invalid':f.submitted && salarie_id.invalid}" #salarie_id="ngModel"
                                     >
                                     <div *ngIf="f.submitted && salarie_id.invalid" class="invalid-feedback">
                                                          <div *ngIf="salarie_id.errors.required">ce champs est obligatoire </div>
                                                      </div>
                                      
                                  <option  [ngValue]="salarie.id" *ngFor="let salarie of salaries">{{ salarie.nom }} </option>
                    
                                        </select>
                                  </div>
                    
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form_date">prenom *</label>
                                        <input id="prenom" type="prenom" name="prenom"
                                        [(ngModel)]='sal.prenom'
                                         required
                                         class="form-control" placeholder="prenom*"
                                         [ngClass]="{'is-invalid':f.submitted && prenom.invalid}" #prenom="ngModel"
                                           >
                                           <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                                                                <div *ngIf="prenom.errors.required">ce champs est obligatoire </div>
                                                            </div>
                                    </div>
                                </div>
                    
                    
                                <div class="col-sm-4">
                                    <label for="form_name"> specialite*</label>
                                    <select id="specialite" class="form-control" placeholder="specialite*"
                                     [(ngModel)]='sal.specialite' name="specialite"
                    
                                     required
                                   [ngClass]="{'is-invalid':f.submitted && specialite.invalid}" #specialite="ngModel"
                                     >
                                     <div *ngIf="f.submitted && specialite.invalid" class="invalid-feedback">
                                                          <div *ngIf="specialite.errors.required">ce champs est obligatoire </div>
                                                      </div>
                                      
                                  <option  [ngValue]="salarie.id" *ngFor="let salarie of salaries">{{ salarie.specialite }} </option>
                    
                                        </select>
                                  </div>
                               
                    
                    
                                </div>
                    
                    
                    
                    
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form_name"> Genre Congée *</label>
                                        <select id="genreconge" class="form-control" placeholder="Genre Congée *"
                                         [(ngModel)]='sal.genreconge' name="genreconge"
                    
                                         required
                                       [ngClass]="{'is-invalid':f.submitted && genreconge.invalid}" #genreconge="ngModel"
                                         >
                                         <div *ngIf="f.submitted && genreconge.invalid" class="invalid-feedback">
                                                              <div *ngIf="genreconge.errors.required">ce champs est obligatoire </div>
                                                          </div>
                                          <option selected>aucune </option>
                                      <option value="mariage">4 jours ouvrables en cas de mariage ou remariage du salarié. </option>
                                      <option value="naissance">3 jours ouvrables pour la naissance ou l’adoption d’un enfant au foyer du salarié. </option>
                                      <option value="décès">2 jours ouvrables pour le décès d’un enfant ou de son conjoint (ou partenaire pacsé).</option>
                                      <option value="mariage- ou-décès">1 jour ouvrable pour le mariage d’un enfant, le décès d’un ascendant proche ou frère ou sœur. </option>
                                      <option value="paternité">11 jours calendaires pour le congé de paternité (qui se cumulent avec les 3 jours de naissance). </option>
                                      <option value="malade des enfants">3 jours par an pour la garde d’un enfant malade de moins de 16 ans. </option>
                                      <option value="malade des enfants mois de 1 an">5 jours par an pour la garde d’un enfant malade de moins de 1 an ou d’au moins trois enfants de moins de 16 ans. </option>
                                            </select>
                    
                                    </div>
                                </div>
                    
                    
                    
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form_email">Congés pour formation professionnel*</label>
                    
                    
                                        <select id="congeformation" class="form-control" placeholder="Congés pour formation professionnel *"
                                         [(ngModel)]='sal.congeformation' name="congeformation"
                                         required
                                       [ngClass]="{'is-invalid':f.submitted && congeformation.invalid}" #congeformation="ngModel"
                                         >
                                         <div *ngIf="f.submitted && congeformation.invalid" class="invalid-feedback">
                                                              <div *ngIf="congeformation.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                          <option selected>aucune </option>
                                        <option value="congeentre">20 heures  en fonction de son entrée
                                        effective dans l’entreprise et de la durée de son contrat. A partir du 1 er Janvier, </option>
                    
                                        <option value="congeindividuel">Congé Individuel de Formation (Jusqu’à un an).</option>
                                        </select>
                                    </div>
                                </div>
                    
                    
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form_phone"> congés de citoyenneté *</label>
                                        <select id="congscitoyen" class="form-control" placeholder="conge citoyen *"
                                         [(ngModel)]='sal.congecitoyen '
                                        name="congscitoyen "
                                        required
                                      [ngClass]="{'is-invalid':f.submitted && congecitoyen.invalid}" #congecitoyen="ngModel"
                                        >
                                        <div *ngIf="f.submitted && congecitoyen.invalid" class="invalid-feedback">
                                                             <div *ngIf="congecitoyen.errors.required">ce champs est obligatoire </div>
                                                             </div>
                                          <option selected>aucune </option>
                    
                                      <option value="appel">en cas journée d’appel </option>
                                      <option value="participation">en cas de la participation aux jurys de cour d’assises, </option>
                                      <option value="conseillers">en cas du temps nécessaire à l’exercice des fonctions
                                         de conseillers aux prud’hommes (ainsi que leur congé de formation),</option>
                                      <option value="asbsence">en cas de l’absence autorisée pour l’exercice d’un mandat local (10 jours ouvrables lors de la campagne électorale…).</option>
                                      <option value="paternité">11 jours calendaires pour le congé de paternité (qui se cumulent avec les 3 jours de naissance). </option>
                                    </select>
                    
                                    </div>
                                </div>
                    
                    
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <label for="form_date">date de sortie*</label>
                                          <input id="form_date" type="date" name="date_s"
                                          [(ngModel)]='sal.date_s'
                                           required
                                           class="form-control" placeholder="date*"
                                           [ngClass]="{'is-invalid':f.submitted && date.invalid}" #date="ngModel"
                                             >
                                             <div *ngIf="f.submitted && date.invalid" class="invalid-feedback">
                                                                  <div *ngIf="date.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <label for="form_name">date d'entrée  *</label>
                                          <input id="form_name" type="date" name="date_e"
                                          [(ngModel)]='sal.date_e'
                                           required
                                           class="form-control" placeholder="mois*"
                                           [ngClass]="{'is-invalid':f.submitted && mois.invalid}" #mois="ngModel"
                                             >
                                             <div *ngIf="f.submitted && mois.invalid" class="invalid-feedback">
                                                                  <div *ngIf="mois.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                      </div>
                                  </div>
                    
                              </div>
                          </div>
                    
                          <div class="row">
                              <div class="col-md-12">
                                  <input type="submit" class="btn btn-primary btn-send" value="Send message" >
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                                <a routerLink="/showconge">Congé </a>
                            </div>
                        </div>
                      </form>
                     
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  