
  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Categories pharmacies </div>
                <div class="panel-body">
                
                <fieldset class="col-md-12">    	
                        <legend>Categories pharmacies </legend>
                        
                     
                        <div class="container-fluid bg-light py-3">
                            <form id="contact-form" (ngSubmit)="f.form.valid && saveRendez()" #f="ngForm" novalidate >
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="form_name"> nom*</label>
                                            <select id="nom" class="form-control" placeholder="nom*"
                                             [(ngModel)]='rendez.nom' name="nom"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel"
                                             >
                                             <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                                                                  <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                                                              </div>
                    <option  [ngValue]="info.id" *ngFor="let info of infos">{{ info.nom }} </option>
                        
                                                </select>
                                          </div>
                                          <div class="col-sm-4">
                                            <label for="form_name"> prenom*</label>
                                            <select id="prenom" class="form-control" placeholder="prenom*"
                                             [(ngModel)]='rendez.prenom' name="prenom"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && prenom.invalid}" #prenom="ngModel"
                                             >
                                             <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                                                                  <div *ngIf="prenom.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="info.id" *ngFor="let info of infos">{{ info.prenom }} </option>
                        
                                                </select>
                                          </div>
                      
                                          <div class="col-sm-4">
                                            <label for="form_name"> cin *</label>
                                            <select id="info_id" class="form-control" placeholder="cin*"
                                             [(ngModel)]='rendez.cin' name="cin"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && cin.invalid}" #cin="ngModel"
                                             >
                                             <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                                                                  <div *ngIf="cin.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="info.id" *ngFor="let info of infos">{{ info.cin }} </option>
                        
                                                </select>
                                          </div>
                                       
                      
                                    <div class="col-sm-4">
                                      <div class="form-group">
                                          <label for="form_name">date rendez_vous  *</label>
                                          <input id="form_name" type="date" name="date_red_v" class="form-control"
                                          placeholder=" *" [(ngModel)]='rendez.date_red_v'
                                          required
                                        [ngClass]="{'is-invalid':f.submitted && date_red_v.invalid}" #date_red_v="ngModel"
                                          >
                                          <div *ngIf="f.submitted && date_red_v.invalid" class="invalid-feedback">
                                                               <div *ngIf="date_red_v.errors.required">ce champs est obligatoire </div>
                                                               </div>
                      
                                      </div>
                                  </div>
                                       

                                  <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form_name">heure *</label>
                                        <input id="form_name" type="time" name="heure" class="form-control"
                                        placeholder="heure *" [(ngModel)]='rendez.heure'
                                        required
                                      [ngClass]="{'is-invalid':f.submitted && date_red_v.invalid}" #heure="ngModel"
                                        >
                                        <div *ngIf="f.submitted && heure.invalid" class="invalid-feedback">
                                                             <div *ngIf="heure.errors.required">ce champs est obligatoire </div>
                                                             </div>
                    
                                    </div>
                                </div>
                      
                      
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="form_name">analyses  *</label>
                                        <input id="form_name" type="text" name="analyses" class="form-control"
                                        placeholder="analyses *" [(ngModel)]='rendez.analyses'
                                        required
                                      [ngClass]="{'is-invalid':f.submitted && analyses.invalid}" #analyses="ngModel"
                                        >
                                        <div *ngIf="f.submitted && analyses.invalid" class="invalid-feedback">
                                                             <div *ngIf="analyses.errors.required">ce champs est obligatoire  time </div>
                                                             </div>
                      
                                    </div>
                                </div>     
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a routerLink="/showrendez">liste des personnes </a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
  
  
                      
  
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  