


  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">paiement</div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>paiement </legend>
                        
                        <div class="container-fluid bg-light py-3">
                            <form id="contact-form" (ngSubmit)="f.form.valid && savePaiement()" #f="ngForm" novalidate >
                                <div class="controls">
                                    <div class="row">
                                     
                                        <div class="col-sm-4">
                                            <label for="form_name"> nom_maladie*</label>
                                            <select id="nom" class="form-control" placeholder="nom_maladie*"
                                             [(ngModel)]='paiement.operation_id' name="operation_id"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && operation_id.invalid}" #operation_id="ngModel"
                                             >
                                             <div *ngIf="f.submitted && operation_id.invalid" class="invalid-feedback">
                                                                  <div *ngIf="operation_id.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="operation.id" *ngFor="let operation of operations">{{
                                              operation?.analyse?.nomid  }} </option>
                        
                                                </select>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_nomid">nom imprime *</label>
                                                <input id="form_nomid" type="text" name="nomid" class="form-control"
                                                placeholder="nom de maladie *" [(ngModel)]='paiement.nomid'
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && nomid.invalid}" #nomid="ngModel"
                                                >
                                                <div *ngIf="f.submitted && nomid.invalid" class="invalid-feedback">
                                                                     <div *ngIf="nomid.errors.required">ce champs est obligatoire </div>
                                                                     </div>
                      
                                            </div>
                                        </div>
                                          <div class="col-sm-4">
                                            <label for="form_name"> montant pharmacie*</label>
                                            <select id="nom" class="form-control" placeholder="pharmacie*"
                                             [(ngModel)]='paiement.pharmacie' name="pharmacie"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && pharmacie.invalid}" #pharmacie="ngModel"
                                             >
                                             <div *ngIf="f.submitted && pharmacie.invalid" class="invalid-feedback">
                                                                  <div *ngIf="pharmacie.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="operation.id" *ngFor="let operation of operations ">{{ 
                                              operation?.stock?.nobrachat }} </option>
                        
                                                </select>
                                          </div>
                      
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_monatnt_operation">Montant Operation *</label>
                                                <input id="form_monatnt_operation" type="number" name="monatnt_operation"
                                                class="form-control" placeholder="monatnt_operation *"
                                                [(ngModel)]='paiement.monatnt_operation'
                                                required
                                                [ngClass]="{'is-invalid':f.submitted && monatnt_operation.invalid}" #monatnt_operation="ngModel"
                                                  >
                                                  <div *ngIf="f.submitted && monatnt_operation.invalid" class="invalid-feedback">
                                                                       <div *ngIf="monatnt_operation.errors.required">ce champs est obligatoire </div>
                                                                   </div>
                                            </div>
                                        </div>
                                     
                      
                                   
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_date">Date de sorie *</label>
                                                <input id="form_date" type="date" name="dates" class="form-control"
                                                placeholder="Date de sorie *" [(ngModel)]='paiement.dates'
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && dates.invalid}" #dates="ngModel"
                                                >
                                                <div *ngIf="f.submitted && dates.invalid" class="invalid-feedback">
                                                                     <div *ngIf="dates.errors.required">ce champs est obligatoire </div>
                                                                     </div>
                      
                                            </div>
                                        </div>
                                     
                      
                      
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                              <label for="number">montant clinique (departement)  </label>
                                              <input id="form_number" type="number" name="montant_departement " class="form-control"
                                              [(ngModel)]='paiement.montant_departement '  placeholder="montant_departement *"
                                              required
                                            [ngClass]="{'is-invalid':f.submitted && montant_departement .invalid}" #montant_departement ="ngModel"
                                              >
                                              <div *ngIf="f.submitted && montant_departement .invalid" class="invalid-feedback">
                                                                   <div *ngIf="montant_departement .errors.required">ce champs est obligatoire </div>
                      </div>
                                          </div>
                                      </div>
                      
                                     
                                      <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="form_phone">>montant globale  *</label>
                                            <textarea class="form-control" cols="1" id="salaire_net"
                                             name="salaire_net" rows="1"
                                            [(ngModel)]='paiement.montant_globale'
                                            placeholder=" ce champs doit obligatoire reste vide*">
                                              {{montant_globale}} </textarea>
                                                <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a routerLink="/shpowpaiement"> paiements </a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  