<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">
<div class="alert alert-secondary" role="alert">
        <h4>agenda congée </h4>

			

				  <!-- Actual search box -->
          
          <div class="float-right">
              <button  class="btn btn-light btn-md"   routerLink="/categories" >
                <span class="glyphicon glyphicon-plus"></span>	</button>

           </div>
				  <div class="form-group has-search">
              
				    <input type="text" class="form-control fa fa-search" placeholder="Search"
[(ngModel)]='cate'  (input)="search()" />

					</div>
        </div>
			
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>
										


                   <th class="alert alert-info">nom</th>
                   <th class="alert alert-info">cate</th>
                   <th class="alert alert-info">prix
                    </th>
                  
                
                   
                   
                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let sal of sals   | paginate:{ itemsPerPage: 6, currentPage: p} ; let i= index   ">

				

    <td><i>{{ sal.salarie?.nom}} </i></td>
    <td><i>{{ sal.date_e }} </i></td>
    <td><i>{{ sal.date_s }} </i></td>
  
   
   


	
<!-- BUG: button edit -->
    <td><button  class="btn btn-secondary btn-xs"   >
			<span class="glyphicon glyphicon-edit"></span>	</button>
		</td>
<!-- BUG:  button delete -->
    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(sal.id)"
>	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>
  <td>
    <a btn btn-primary btn-sm class="btn btn-primary btn-xs"   >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>
		<pagination-controls (pageChange)="p=$event">
		 </pagination-controls>
</table>

            </div>

        
	</div>
</div>
</div>
