<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-11">
            <hr>

            <div class="jumbotron ">
                <div class="container">
                    <div class="col-md-11">     
                        <h4 >	lists des Personnel</h4>
                      </div>
                     
                      
                      
                      <div class="col-md-1">
                          <button  class="btn btn-info btn-md"   routerLink="/info" >
                            <span class="">ADD Lists</span>	</button>
            
                       </div>
                       <input class="form-control mr-sm-2"
                       [(ngModel)]='cate'  (input)="search()"
                        type="search" placeholder="Search" aria-label="Search">
            
                </div>
              </div>
			
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>
                    <th class="alert alert-info">cin</th>
										
                    <th class="alert alert-info">nom</th>
                    <th class="alert alert-info">prenom</th>

                    <th class="alert alert-info">adresse</th>

                   <th class="alert alert-info">date de rendez-vous</th>
                   <th class="alert alert-info">telephone mobille</th>
                   <th class="alert alert-info">telephone fix</th>
                 
                   
                   
                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let info of infos   | paginate:{ itemsPerPage: 6, currentPage: p} ; let i= index   ">

				<td><i>{{ info.cin }} </i></td>
    <td><i>{{ info.nom  }} </i></td>
    <td><i>{{ info.prenom  }} </i></td>
  
    <td><i>{{info.adresse}} </i></td>
    <td><i>{{info.date_red_v}} </i></td>
    <td><i>{{info.telephone}} </i></td>
    
    <td><i>{{info.telephone_mb}} </i></td>


	
<!-- BUG: button edit -->
    <td><button  class="btn btn-secondary btn-xs"   routerLink="/maladies/{{info.id}}" >
			<span class="glyphicon glyphicon-edit"></span>	</button>
		</td>
<!-- BUG:  button delete -->
    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(info.id)"
>	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>
  <td>
    <a btn btn-primary btn-sm class="btn btn-primary btn-xs"   routerLink="/maladieshow/{{info.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>
		<pagination-controls (pageChange)="p=$event">
		 </pagination-controls>
</table>

            </div>

        
	</div>
</div>
</div>
