
<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">
        <div class="col-md-12">
         

            <div class="jumbotron ">
                <div class="container">
                  <div class="row">
                      <div class="col-md-11">     
                          <h4 >	lists des perosnnnel</h4>
                        </div>
                        <div class="col-md-1 ">
                            <button  class="btn btn-info btn-md fa fa-plus"   routerLink="/rendez" >
                              <span ></span>	</button>
                  </div>
                   
            
                       </div>
                       <input class="form-control mr-sm-2"
                       [(ngModel)]='cate'  (input)="search()"
                        type="search" placeholder="Search" aria-label="Search">
            
                </div>
              </div>
			
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>
										


                   <th class="alert alert-info">cin</th>
                   <th class="alert alert-info">prenom</th>
                   <th class="alert alert-info">nom</th>
                   <th class="alert alert-info">heure</th>
                   <th class="alert alert-info">analyses</th>
                   <th class="alert alert-info">date_red_v</th>
                   
                   
                       <th  class="alert alert-secondary" >edit</th>
											 <th  class="alert alert-danger" >delete</th>
                       <th  class="alert alert-primary" >profils</th>
                   </thead>
    <tbody>


			<tr *ngFor="let rendez of rendezs   | paginate:{ itemsPerPage: 6, currentPage: p} ; let i= index   ">

				

    <td><i>{{rendez.info?.cin}} </i></td>
    <td><i>{{rendez.info?.nom}} </i></td>
    <td><i>{{rendez.info?.prenom}} </i></td>
    <td><i>{{rendez.heure}} </i></td>
    <td><i>{{rendez.analyses}} </i></td>
    <td><i>{{rendez.date_red_v}} </i></td>
   


	
<!-- BUG: button edit -->
    <td><button  class="btn btn-secondary btn-xs fa fa-edit "  routerLink="/rendez/{{rendez.id}}" >
				</button>
		</td>
<!-- BUG:  button delete -->
    <td>
			<button class="btn btn-danger btn-xs fa fa-trash">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(rendez.id)"
>	
		</a></button>
	</td>
  <td>
    <a btn btn-primary btn-sm class="btn btn-primary btn-xs fa fa-eye"   routerLink="/rendezshow/{{rendez.id}}" >
			<span class="glyphicon glyphicon-eye-open"></span>	</a>
  </td>


    </tr>
    </tbody>
		<pagination-controls (pageChange)="p=$event">
		 </pagination-controls>
</table>

            </div>
            <div class="jumbotron ">
                <div class="container">
                  <h1 class="display-4">Fluid jumbotron</h1>
                  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
              </div>
          </div>
        
        
	</div>
</div>
</div>
