
  <!------ Include the above in your HEAD tag ---------->
  
  <div class="container">
    <br/>
    <hr>
    <div class="panel panel-default">
            <hr>
                <div class="panel-heading">stocks de pharamacie </div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>stoks de pharmacie</legend>
                        
                     
                        
                        <div class="container-fluid bg-light py-3">
                            <form id="contact-form" (ngSubmit)="f.form.valid && saveStcok()" #f="ngForm" novalidate >
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                       
                                        <div class="col-sm-4">
                                                <div class="form-group">
                                            <label for="form_name"> Nom medicaments achete *</label>
                                            <select id="categorie" class="form-control" placeholder="achat_id*"
                                             [(ngModel)]='stock.achat_id' name="achat_id"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && achat_id.invalid}" #achat_id="ngModel"
                                             >
                                             <div *ngIf="f.submitted && achat_id.invalid" class="invalid-feedback">
                                                                  <div *ngIf="achat_id.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="achat.id" *ngFor="let achat of achats">{{ achat.nom }} </option>
                        
                                                </select>
                                            </div>
                                          </div>

                                          <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_Nom">Nom medicaments achete par id *</label>
                                                <input id="form_Nom" type="text" name="nomid" class="form-control"
                                                 placeholder="Nom *"
                                                 required
                                                       [(ngModel)]='stock.nomid'
                                                 data-error="name is required."
                                               [ngClass]="{'is-invalid':f.submitted && nomid.invalid}" #nomid="ngModel"
                                                 >
                                                 <div *ngIf="f.submitted && nomid.invalid" class="invalid-feedback">
                                                                      <div *ngIf="nomid.errors.required">ce champs est obligatoire </div>
                                                                  </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                                <div class="form-group">
                                            <label for="form_name"> categorie*</label>
                                            <select id="categorie_id" class="form-control" placeholder="categorie*"
                                             [(ngModel)]='stock.categorie_id' name="categorie_id"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && categorie_id.invalid}" #categorie_id="ngModel"
                                             >
                                             <div *ngIf="f.submitted && categorie_id.invalid" class="invalid-feedback">
                                                                  <div *ngIf="categorie_id.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="categorie.id" *ngFor="let categorie of categories">{{ categorie.nom }} </option>
                        
                                                </select>
                                          </div>
                                        </div>
  
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_prix">prix *</label>
                                               
                                                <input id="form_prix" type="number" name="prix"
                                                class="form-control" placeholder="prix *"
                                                [(ngModel)]='stock.prix'
                                                required
                                                [ngClass]="{'is-invalid':f.submitted && prix.invalid}" #prix="ngModel"
                                                  >
                                                  <div *ngIf="f.submitted && prix.invalid" class="invalid-feedback">
                                                                       <div *ngIf="prix.errors.required">ce champs est obligatoire </div>
                                                                   </div>
                                            </div>
                                           

                                            <span class="input-group-text" id="inputGroupPrepend2">dhs</span>

                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_Nombre">Nombre *</label>
                                                <input id="nobrachat" type="number" name="nobrachat" class="form-control"
                                                placeholder="nombre *" [(ngModel)]='stock.nobrachat'
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && nobrachat.invalid}" #nobrachat="ngModel"
                                                >
                                                <div *ngIf="f.submitted && nobrachat.invalid" class="invalid-feedback">
                                                                     <div *ngIf="nobrachat.errors.required">ce champs est obligatoire </div>
                                                                     </div>
                      
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_Nombre">tva *</label>
                                                <input id="tva" type="number" name="tva" class="form-control"
                                                placeholder="tva *" [(ngModel)]='stock.tva'
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && tva.invalid}" #tva="ngModel"
                                                >
                                                <div *ngIf="f.submitted && tva.invalid" class="invalid-feedback">
                                                                     <div *ngIf="tva.errors.required">ce champs est obligatoire </div>
                                                                     </div>
                      
                                            </div>
                                        </div>
                                      
                                       
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label for="form_affiche">montant*</label>
                                                <textarea class="form-control" cols="1" id="affiche"
                                                 name="montant" rows="1"
                                                [(ngModel)]='stock.montant'
                                                placeholder=" ce champs doit obligatoire reste vide*"
                                                >
                                                {{ montant }}</textarea>
                                                    <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                       
                                      
                                       
                                      
                                    
                                       
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send"   value="ajoute medicament " >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a routerLink="/showstock">lists des stocks </a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
  
  
  
  
  
  
  
  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <hr>
    



 