
  <div class="container"   >
      <div class="">
  <div class="panel panel-default">
          
              <div class="panel-heading">Categories pharmacies </div>
              <div class="panel-body">
              
              <fieldset class="col-md-9">    	
                      <legend>Categories pharmacies </legend>
                      
                      <div class="container-fluid bg-light py-6">
                        <form id="contact-form" (ngSubmit)="f.form.valid && saveCategory()" #f="ngForm" novalidate >
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="row">
                                   
                                  
                  
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="form_name">Categorie  *</label>
                                          <input id="nom" type="text" name="nom"
                                           class="form-control" placeholder="categorie *"
                                           [(ngModel)]='categorie.nom'
                  
                                           required
                                         [ngClass]="{'is-invalid':f.submitted && nom.invalid}" #nom="ngModel"
                                           >
                                           <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                                                                <div *ngIf="nom.errors.required">ce champs est obligatoire </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a routerLink="/showCatgeorie">Categories </a>
                                </div>
                            </div>
                        </form>
                    </div>
                      



                  </fieldset>				
                  
                  
              </div>
            </div>
  </div>
  </div>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

