
<form  (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Validate">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        
         

            <div class="ui-g-12 ui-md-4">
                <h3>Touch UI</h3>
                <p-calendar [(ngModel)]="date13" name="date13" [touchUI]="true"></p-calendar>
            </div>


        </div>
    </p-panel>
</form>