
<div  id="contenu">
  
    <div class=" absolute">
        <div class="alert alert-primary col-sm-8">Login Here</div>
      <form #loginForm=ngForm (ngSubmit)="onSubmit()">

        <div class="alert alert-danger col-sm-8" [hidden]="!error">
          {{error}}
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"
             [(ngModel)]="form.email" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-6">
            <input type="password" name="password" class="form-control" id="inputPassword3"
             placeholder="Password" [(ngModel)]="form.password"
              required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-8 ">

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>

            <a routerLink="/signup" class="btn btn-info float-right">Sign Up</a>
            <a routerLink="/request-password-reset" class="btn btn-info float-right">Reset Password</a>
<br>
            <small class=float-right>
                <a routerLink="/"></a>
              </small>

          </div>
        </div>
       
        
      </form>
    </div>
  
</div>
