#contenu {
    margin-left:0px;
    background-color:#F0F0F0;
    position: relative;
    width: 1090px;
    height: 1000px;
    }
    .absolute {
        margin:0 0 1em 10em;
        position: sticky;
        top: 200px;
    }