<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="w-100 pt-5  " >

<div class="container">
	<div class="row">


        <div class="col-md-12">
<div class="alert alert-success" role="alert">
        <h4>calendrie reunion  </h4>

	<div class="float-right">
		<a class="btn btn-warning btn-send" ali  value="add new reunion" routerLink="/editor" > add new commentaire</a>
	</div>


				<div class="main">
				  <!-- Actual search box -->

				  <div class="form-group has-search">
				    <span class="fa fa-search form-control-feedback"></span>
				    <input type="text" class="form-control" placeholder="Search"
[(ngModel)]='nom'  (input)="search()" />

					</div>

				</div>
        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">

                   <thead>

                   <th class="alert alert-info">name</th>
					<th class="alert alert-info">commentaire </th>
                    <th  class="alert alert-success" >edit</th>
					<th  class="alert alert-danger" >delete</th>

                   </thead>
    <tbody>




			<tr *ngFor="let editor of editors|  paginate:{ itemsPerPage: 6, currentPage:p } | orderBy:'id':true  " >

    <td><p innerHTML
			="{{editor.nom}} "></p></td>
		<td><p innerHTML="{{editor.htmlContent}}"></p></td>
<!-- BUG: button edit -->
    <td><a btn btn-primary btn-sm class="btn btn-success"   routerLink="/editor/{{editor.id}}" >
			<span class="glyphicon glyphicon-edit"></span>	</a>
		</td>
<!-- BUG:  button delete -->

    <td>
			<button class="btn btn-danger btn-xs">
			<a data-placement="top" data-toggle="tooltip" title="Delete"  (click)="destroy(editor.id)"
>	<span class="glyphicon glyphicon-trash"></span>
		</a></button>
	</td>



    </tr>
    </tbody>
		<pagination-controls


		 (pageChange)=" p=$event">
		 </pagination-controls>



</table>
<div class="float-right">
 <a class="btn btn-warning btn-send" ali  value="add new reunion" routerLink="/editor" > Accieul</a>
</div>
            </div>

        </div>
	</div>
</div>
</div>
</div>
