
  
  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">paies </div>
                <div class="panel-body">
                
                <fieldset class="col-md-12">    	
                        <legend>paie </legend>
                        
                    
                        <div class="container-fluid bg-light py-3">
                          <form id="contact-form" (ngSubmit)="f.form.valid && savePaie()" #f="ngForm" novalidate >
                              <div class="messages"></div>
                              <div class="controls">
                                  <div class="row">
                                    
                                  <div class="col-sm-4">
                                    <label for="form_name"> nom*</label>
                                    <select id="salarie_id" class="form-control" placeholder="nom*"
                                     [(ngModel)]='spaie.salarie_id' name="salarie_id"
                    
                                     required
                                   [ngClass]="{'is-invalid':f.submitted && salarie_id.invalid}" #salarie_id="ngModel"
                                     >
                                     <div *ngIf="f.submitted && salarie_id.invalid" class="invalid-feedback">
                                                          <div *ngIf="salarie_id.errors.required">ce champs est obligatoire </div>
                                                      </div>
                                      
                                  <option  [ngValue]="salarie.id" *ngFor="let salarie of salaries">{{ salarie.nom }} </option>
                    
                                        </select>
                                  </div>
                                      <div class="col-sm-4">
                                          <div class="form-group">
                                              <label for="form_name">prenom *</label>
                                              <input id="form_name" type="text" name="Prenom"
                                              [(ngModel)]='spaie.prenom'
                                               required
                                               class="form-control" placeholder="Prenom*"
                                               [ngClass]="{'is-invalid':f.submitted && prenom.invalid}" #prenom="ngModel"
                                                 >
                                                 <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                                                                      <div *ngIf="prenom.errors.required">ce champs est obligatoire </div>
                                                                  </div>
                                          </div>
                                      </div>
                    
                                  
                                      <div class="col-sm-4">
                                        <label for="form_name"> specialite*</label>
                                        <select id="salarie_id" class="form-control" placeholder="nom*"
                                         [(ngModel)]='spaie.specialite' name="specialite"
                        
                                         required
                                       [ngClass]="{'is-invalid':f.submitted && specialite.invalid}" #specialite="ngModel"
                                         >
                                         <div *ngIf="f.submitted && specialite.invalid" class="invalid-feedback">
                                                              <div *ngIf="specialite.errors.required">ce champs est obligatoire </div>
                                                          </div>
                                          
                                      <option  [ngValue]="salarie.id" *ngFor="let salarie of salaries">{{ salarie.metie }} </option>
                        
                                            </select>
                                      </div>
                                      <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="form_date">salaire net *</label>
                                            <input id="form_date" type="number" name="salaire" class="form-control"
                                            placeholder="salaire *" [(ngModel)]='spaie.salaire'
                                            required
                                          [ngClass]="{'is-invalid':f.submitted && salaire.invalid}" #salaire="ngModel"
                                            >
                                            <div *ngIf="f.submitted && salaire.invalid" class="invalid-feedback">
                                                                 <div *ngIf="salaire.errors.required">ce champs est obligatoire </div>
                                                                 </div>
                    
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                      <div class="form-group">
                                          <label for="form_date">prime *</label>
                                          <input id="form_date" type="number" name="salaire" class="form-control"
                                          placeholder="prime *" [(ngModel)]='spaie.prime'
                                          required
                                        [ngClass]="{'is-invalid':f.submitted && prime.invalid}" #prime="ngModel"
                                          >
                                          <div *ngIf="f.submitted && prime.invalid" class="invalid-feedback">
                                                               <div *ngIf="prime.errors.required">ce champs est obligatoire </div>
                                                               </div>
                    
                                      </div>
                                  </div>
                    
                                 
                    
                                <div class="col-sm-4">
                                  <div class="form-group">
                                      <label for="form_phone">>salaire net  *</label>
                                      <textarea class="form-control" cols="1" id="salaire_net"
                                       name="salaire_net" rows="1"
                                      [(ngModel)]='spaie.salaire_net'
                                      placeholder=" ce champs doit obligatoire reste vide*"
                                      >
                                        {{salaire_net}} </textarea>
                                          <div class="help-block with-errors"></div>
                                  </div>
                              </div>
                    
                    
                    
                    
                    
                                
                                <div class="col-sm-2">
                                  <div class="form-group">
                                      <label for="form_date">cin *</label>
                                      <input id="form_date" type="text" name="cin" class="form-control"
                                      placeholder="salaire net *" [(ngModel)]='spaie.cin'
                                      required
                                    [ngClass]="{'is-invalid':f.submitted && cin.invalid}" #cin="ngModel"
                                      >
                                      <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                                                           <div *ngIf="cin.errors.required">ce champs est obligatoire </div>
                                                           </div>
                    
                                  </div>
                              </div>
                    
                                  
                                  </div>
                              </div>
                    
                              <div class="row">
                                  <div class="col-md-12">
                                      <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <a routerLink="/showpaie">paie </a>
                                  </div>
                              </div>
                          </form>
                      </div>
  

  
  
                    </fieldset>				
                    
                    <div class="clearfix"></div>
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  