



  <div class="container">
    <br/>
    <div class="panel panel-default">
            
                <div class="panel-heading">Categories pharmacies </div>
                <div class="panel-body">
                
                <fieldset class="col-md-9">    	
                        <legend>Categories pharmacies </legend>
                        
        
                        <div class="container-fluid bg-light">
                            <form id="contact-form" (ngSubmit)="f.form.valid && saveOperation()" #f="ngForm" novalidate >
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="form_name"> nom_maladie*</label>
                                            <select id="nom" class="form-control" placeholder="nom_maladie*"
                                             [(ngModel)]='operation.nom_maladie' name="nom_maladie"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && nom_maladie.invalid}" #nom_maladie="ngModel"
                                             >
                                             <div *ngIf="f.submitted && nom_maladie.invalid" class="invalid-feedback">
                                                                  <div *ngIf="nom_maladie.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                     <option  [ngValue]="analyse.id" *ngFor="let analyse of analyses">{{ analyse.nomid }} </option>
                        
                                                </select>
                                          </div>
                      
                                       
                                          <div class=" col-sm-4">
                                            <label for="form_name"> nom*</label>
                                            <select id="nom" class="form-control" placeholder="nom_docteur*"
                                             [(ngModel)]='operation.nom_docteur' name="nom_docteur"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && nom_docteur.invalid}" #nom_docteur="ngModel"
                                             >
                                             <div *ngIf="f.submitted && nom_docteur.invalid" class="invalid-feedback">
                                                                  <div *ngIf="nom_docteur.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              
                                          <option  [ngValue]="salarie.id" *ngFor="let salarie of salaries">{{ salarie.nom }} </option>
                        
                                                </select>
                                          </div>
                      
                                     
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_date">Date d'operation *</label>
                                                <input id="form_date" type="date" name="dates" class="form-control"
                                                placeholder="Date de sorie *" [(ngModel)]='operation.dates'
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && dates.invalid}" #dates="ngModel"
                                                >
                                                <div *ngIf="f.submitted && dates.invalid" class="invalid-feedback">
                                                                     <div *ngIf="dates.errors.required">ce champs est obligatoire </div>
                                                                     </div>
                      
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="number">heure </label>
                                                <input id="form_number" type="time" name="heure" class="form-control"
                                                [(ngModel)]='operation.heure'  placeholder="heure *"
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && heure.invalid}" #heure="ngModel"
                                                >
                                                <div *ngIf="f.submitted && heure.invalid" class="invalid-feedback">
                                                                     <div *ngIf="heure.errors.required">ce champs est obligatoire </div>
                      </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="form_datee">Mois *</label>
                                                <input id="form_datee" type="week" name="mois" class="form-control"
                                                placeholder="mois *" [(ngModel)]='operation.mois '
                                                required
                                              [ngClass]="{'is-invalid':f.submitted && mois.invalid}" #mois="ngModel"
                      
                      
                      
                                                >
                                                <div *ngIf="f.submitted && mois.invalid" class="invalid-feedback">
                                                                     <div *ngIf="mois.errors.required">ce champs est obligatoire </div>
                      </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="form_name"> pharmacie*</label>
                                            <select id="nom" class="form-control" placeholder="pharmacie*"
                                             [(ngModel)]='operation.pharmacie' name="pharmacie"
                        
                                             required
                                           [ngClass]="{'is-invalid':f.submitted && pharmacie.invalid}" #pharmacie="ngModel"
                                             >
                                             <div *ngIf="f.submitted && pharmacie.invalid" class="invalid-feedback">
                                                                  <div *ngIf="pharmacie.errors.required">ce champs est obligatoire </div>
                                                              </div>
                                              !
                                          <option  [ngValue]="stock.id" *ngFor="let stock of stocks">{{ stock.nomid }} </option>
                        
                                                </select>
                                          </div>
                                     
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                              <label for="form_number2">genre d'operation  *</label>
                                              <input id="form_number2" type="text" name="genre"
                                               class="form-control" placeholder="Nom docteur *"
                                               [(ngModel)]='operation.genre'
                      
                                               required
                                             [ngClass]="{'is-invalid':f.submitted && genre.invalid}" #genre="ngModel"
                                               >
                                               <div *ngIf="f.submitted && genre.invalid" class="invalid-feedback">
                                                                    <div *ngIf="genre.errors.required">ce champs est obligatoire </div>
                                              </div>
                                          </div>
                                      </div>
                      
                      
                      
                                    </div>
                                </div>
                      
                                <div class="row">
                                    <div class="col-md-9">
                                        <input type="submit" class="btn btn-primary btn-send"   value="Send message" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <a routerLink="/showoperation">operations </a>
                                    </div>
                                </div>
                            </form>
                        </div>
  
                      
  
  
  
  
  
  
                    </fieldset>				
                    
                    
                </div>
                    
    </div>
    </div>
  
  
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  