<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

</style>
<body>

<!-- Navbar -->
<div class="">
  <div class="w3-bar w3-light-grey">
   
      <a routerLink="#" class="btn btn-info btn-lg w3-right" (click)="logout($event)"
      *ngIf="loggedIn">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>  

        <a routerLink="/login" class="btn btn-info btn-lg w3-right" 
        *ngIf="loggedIn">
            <span class="glyphicon glyphicon-log-in"></span> Log in
          </a>  

         

  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item" *ngIf="loggedIn"><b>Menu</b></h4>
  <a  routerLink="/showCatgeorie"
  class="w3-bar-item w3-button w3-hover-black"  *ngIf="loggedIn"><i class="fa fa-list-alt "></i>  categories</a>
<a  routerLink="/showstock"class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-archive "></i>  stocks</a>

  <a routerLink="/showsinfo" class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-address-card   "></i> 
     inforamtion personnel</a>
<a  routerLink="/shpowpaiement"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn">
  <i class="fa fa-credit-card"></i>  paiements</a>
<a  routerLink="/showanalyse" class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-calendar"></i>  Analyse</a>
<a routerLink="/showrendez"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-calendar-minus-o ">
</i>  rendez</a>

<a routerLink="/showdepartement"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-building-o "></i>  departement</a>
<a routerLink="/showvendu"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-building-o ">

</i>  achat</a>

<a routerLink="/showsalaries"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn">
  <i class="fa fa-users"></i>  salarie</a>
<a routerLink="/showconge"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-calendar-o"></i>  conge</a>
<a routerLink="/showpaie"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-child"></i>paie-salaire</a>
<a routerLink="/showoperation"  class="w3-bar-item w3-button w3-hover-black" *ngIf="loggedIn"><i class="fa fa-plus-square"></i>operations</a>


</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:200px">

  <div class="w3-row w3-padding-20">
  
  
  </div>

  <div class="w3-row">
    
   
  </div>

  <div class="w3-row w3-padding-20">
   
   
  </div>

  <!-- Pagination -->



<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
